{% extends 'base.html' %}

{% block content %}
<body class='gradient px-2 py-3'>
    {% include 'components/navbarPre.html' %}

    <div class='center has-text-centered'>
        <h1 class='text-focus-in has-text-white title is-1 is-size-2-mobile center mt-10 px-3'>Productivity Just Got Easier.</h1>
        <h2 class='fade-in has-text-white subtitle is-3 is-size-4-mobile enter mt-2 mb-3 px-6'>Get Things Done with <span
                class='has-text-weight-semibold'>TAILS</span></h2>
        <h3 class='fade-in has-text-white subtitle is-6 center px-6 mb-6'>A Modern To-Do List Application</h3>

        <div class= "pt-8 mx-2">
            <a href = 'login.html'>
                <button class="mx-1 button is-primary is-medium">
                    <strong>Log in</strong>
                </button>
            </a>
            <a href = 'signup.html'>
            <button class="mx-1 button is-primary is-medium">
                <strong>Sign up</strong>
            </button>
            </a>
        </div>
    </div>
</body>
{% endblock %}