<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
</head>
<body>
    <div className = 'site_navbar'>
        <div className = 'site_navbar_links'>
            <div className = 'site_navbar_links-logo'>
                <!-- Insert Image Here -->
            </div>
            <div className = 'site_navbar_links-container'>
                
            </div>
        </div>


    </div>
    <h1>Welcome to our to-do list application!</h1>
    <h2>Made for battling all of your procrastination issues</h2>
    <h3>With us already?</h3>
    <form action='signin'>
        <input name="username" value="Username">
        <input type='password' name='user_password' value="Password">
        <input type='submit' value='Sign In'>
    </form>
    <h3>If not...</h3>
    <button type="button">Sign Up</button> 
</body>
</html>