{% extends 'base.html' %}

{% block content %}
<body class= 'is-flex is-flex-direction-column is-justify-content-space-between'>

    <div class = "px-2 py-3">
        {% include 'components/navbar.html' %}
        
        <div class = 'my-3 px-6 py-5'>
            <h1 class = 'title has-text-primary is-2 is-size-2-mobile'>
                Your Lists: 
            </h1>
        </div>

        <div class = 'px-6'>
            {% for entry in lists %}
                <a class = 'is-5' href="/lists/{{entry.id}}">
                    {{entry.name}}
                    <br>
                </a>
                <hr class="divider">
            {% else %}
            <p>
                No Lists Available
            </p>
            {% endfor %}
        </div>
        <br>
    </div>

    {% include 'components/footer.html' %}

</body>
{% endblock %}