{% extends 'base.html' %}

{% block content %}
<body class='gradient px-2 py-3'>
  {% include 'components/navbarPre.html' %}

  <form id="main" method="post">
  <div class='center m-3 px-6'>
    <h1 class=' has-text-centered text-focus-in has-text-white title is-1 is-size-2-mobile center mt-10 px-3'>Sign In.
    </h1>
    <div class="field pt-2">
      <label for="username" class="label has-text-white">Username</label>
      <div class="control has-icons-left has-icons-right">
        <input name="username" class="input" type="text" placeholder="Enter Your Username" value="">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <p class="mt-2 has-text-white">{{ message }}</p>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    </div>

    <div class="field">
      <label for="password" class="label has-text-white">Password</label>
      <div class="control has-icons-left has-icons-right">
        <input name="password" class="input" type="text" placeholder="Enter Your Password" value="">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check"></i>
        </span>
      </div>
    </div>

    <div class="center has-text-centered mx-2">
        <button class="mx-1 button is-primary is-medium">
          <strong>Log in</strong>
        </button>
      <a href='signup.html'>
        <button type="button" class="mx-1 button is-light is-medium">
          Sign up
        </button>
      </a>
    </div>
  </div>
  </form>
</body>
{% endblock %}