{% extends 'base.html' %}

{% block scripts %}
<script src="{{url_for('static', filename='js/signup.js')}}"></script>
{% endblock %}

{% block content %}

<body class='gradient px-2 py-3'>
  {% include 'components/navbarPre.html' %}



  <form method="post">
    <div class='center m-3 px-6'>

      <h1 class=' has-text-centered text-focus-in has-text-white title is-1 is-size-2-mobile center mt-10 px-3'>Sign Up.
      </h1>

      <div class="field pt-2">
        <label for="username" class="label has-text-white">
          Username
        </label>
        <div class="control has-icons-left has-icons-right">
          <input name="username" class="input" type="text" placeholder="Enter a Username" value="" required>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <p class="mt-2 has-text-white">{{ message }}</p>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
      </div>

      <div class="field">
        <label for="password" class="label has-text-white">Password</label>
        <div class="control has-icons-left has-icons-right">
          <input name="password" id="password" class="input" type="password" placeholder="Enter Password" value=""
            required>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="field">
        <label for="password-confirmation" class="label has-text-white">Confirm Password</label>
        <div class="control has-icons-left has-icons-right">
          <input name="password-confirmation" id="password-confirmation" class="input" type="password"
            placeholder="Confirm Your Password" value="" required>
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
      </div>

      <div class="center has-text-centered mx-2">
        <a href='login.html'>
          <button type="button" class="mx-1 button is-light is-medium">
            Log in
          </button>
        </a>
        <button onclick="return validatePassword()" type="submit" class="mx-1 button is-primary is-medium">
          <strong>Sign up</strong>
        </button>
      </div>
    </div>
  </form>
</body>
{% endblock %}