<head>
    <script src="{{url_for('static', filename='js/navbar.js')}}"></script>
</head>

<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/home.html">
        <img src="{{url_for('static', filename='logo-color.png')}}" width="112" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbar" class="navbar-menu">
      <div class="navbar-start">
        <a class = "navbar-item" href="newlist.html">
            New List
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="lists.html">
            Your Lists
          </a>
          <div class="navbar-dropdown">
          {% for entry in lists %}
            <a class="navbar-item">
              {{entry.name}}
            </a>
          {% else %}
          <a class="navbar-item">
            No Items Available
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/logout" class="button is-light">
            Log Out
          </a>
        </div>
      </div>
    </div>
  </nav>